@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c7c7c7;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  @apply w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-cyan-300 rounded-md px-3 py-2 transition duration-300 focus:outline-none focus:border-cyan-500 hover:border-cyan-400 shadow-sm focus:shadow;
}
input[type=button] {
  @apply bg-cyan-200 border-none cursor-pointer;
}
input[type=button][disabled] {
  @apply bg-cyan-600 cursor-default;
}
